<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681853484837-sf4d7a0657gg8hr95hrffgu3ed4t54a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681853484837-sf4d7a0657gg8hr95hrffgu3ed4t54a4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681853484837-fgda4vrgp2a74qmvv8atblgpa9q8p47v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLME3W1SrLV0Y-QZDy6HphgH5FfTI-s4A</string>
	<key>GCM_SENDER_ID</key>
	<string>681853484837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-2b03c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-2b03c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681853484837:ios:e5cd70e140fff05383e4cc</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-2b03c-default-rtdb.firebaseio.com</string>
</dict>
</plist>